body {
    margin: 0 auto;
    padding: 0;
    background-color: #fef5d9;
    font-family: Verdana;
    color: #394044;
}

h1{
    background-color: #86d1f0;
    color: #f2f6f9;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-weight: 400;
    
}

.navbar {
    background-color: #b5fcfc;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 15px;
    color: #394044;

}

.navbar a:hover {
    color: white;
    background-color: #09a4cf;
    border-radius: 10px;
    
}

.navbar li {
    float: left;
    
}



h3 {
    font-weight: normal;
    margin-left: 50px;
}
